.message {
    font-weight: 600;
    color: rgb(119, 137, 163);
}

.navbar {
    background-color: rgb(119, 137, 163);
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: white;
    padding: 5px 5px 5px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-item {
    margin-left: 30px;
    
}

.navbar-item:hover {
    color: rgb(224, 224, 224);
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}


.account_list th,td {
    text-align: left;
    padding-right: 15px;
}